.page-container {
  height: 100%;
  overflow-y: auto;
}

.page-content,
.page-footer {
  max-width: 1320px;
  margin: 0 auto;
}

.page-footer {
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: center;
  background-color: gray;
}
